@model IEnumerable<LTWeb05_Bai01.Models.Department>
@{
    ViewBag.Title = "HienThiPhongBan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách Phòng Ban</h2>
<p>
    @Html.ActionLink("Danh sách nhân viên", "HienThiNhanVien")
</p>

<table class="table table-striped border">
    <thead class="thead-dark">
        <tr>
            <th>MaPhong</th>
            <th>TenPhong</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaPhong)</td>
            <td>@Html.DisplayFor(modelItem => item.TenPhong)</td>
            <td>@Html.ActionLink("Xem chi tiết", "Detail_PhongBan",new {id=item.MaPhong}) | @Html.ActionLink("Xem nhân viên","#")</td>
        </tr>
    }
</table>

